

<body style="
	margin: 0;
	padding: 1in;
">
<h1 style="text-align: center">SCAN (Q)</h1>
<p style="text-align: center">
	A way of invoking eslint via a Node.js script.
</p>

<pre>


</pre>

<pre style="
	border: .25in solid #E7E7E7;
	padding: .25in;

	background: #F1F1F1;
	color: #222;

	border-radius: 8px;

">
(async () => {
	/*
		Either CONCLUDE and UNSUCCESFUL will be called one line before,
		the async function resolves via a return statement.

		Therefore, "DONE" will most likely always be displayed, via console log
		as in this example, after the SCAN is complete.
	*/
	await require ("SCAN") ({
		DIRECTORY: __dirname,
		EXTENSIONS: [ "js" ],

		CONFIG: {
			"env": {
				"browser": true,
				"es2021": true,
				"node": true
			},
			"extends": "eslint:recommended",
			"parserOptions": {
				"ecmaVersion": 12
			},
			"rules": {
				"no-mixed-spaces-and-tabs": "off",

				"no-unused-vars": "warn"
			}
		},

		CONCLUDE: ({ MESSAGE }) => {
			console.log (MESSAGE);
		},

		UNSUCCESSFUL: ({ THROW }) => {
			console.error ("SCAN", { THROW });
		}
	});

	console.log ("DONE");
}) ();
<pre>
</body>
